#root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 250, 250);
}

.banner {
  position: relative;
  width: 100%;
  height: 550px;
}

.banner .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteiner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(34, 101, 164, 0.329),
    rgba(34, 101, 164, 0)
  );
}

.header {
  margin: 40px 100px 0px 100px;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  height: 80px;
  margin: 20px 40px;
}

.header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
  margin: 20px 100px;
}

.banner .info {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

h1 {
  font-family: "Audiowide", sans-serif;
  color: rgb(255, 250, 250);
  font-weight: 400;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 0px;
}

h3 {
  color: rgb(255, 250, 250);
  font-weight: 400;
  font-size: 25px;
  margin-top: 0px;
}

.banner .button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.Carousel {
  display: flex;
  justify-content: space-evenly;
}

.values {
  margin-top: 350px;
  background-color: #5c8fb6;
  width: 100%;
  height: 800px;
}

