#root {
   font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(26, 26, 26);
}

.header {
  background-color: rgb(95, 95, 95);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.header .img {
  height: 110px;
  margin: 20px 100px;
}

.header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
  margin: 20px 100px;
}

.banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.banner .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .info {
  position: absolute;
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.carousel {
  height: 10000px;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 0px;
}

