.bannerButton {
  background-image: linear-gradient(
    to right,
    rgb(34, 101, 164),
    rgba(36, 154, 218, 1)
  );
  border: transparent;
  color:rgb(255, 250, 250);
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 30px;
  padding: 20px 80px;
  height: 100px;
  cursor: pointer;
}

