button {
    background-color: transparent;
    border: transparent;
    color: rgb(146, 145, 145);
    font-size: 20px;
    height: 40px;
    cursor: pointer;
}

button:hover {
     color: rgb(139, 139, 139);
}