.headerButton {
    background-color: transparent;
    border: transparent;
    color: rgb(146, 145, 145);
    font-size: 20px;
    height: 40px;
    cursor: pointer;
}

.headerButton:hover {
     color: rgb(59, 59, 59);
}